<div class="instructions-container">
  <div>
    <h2>Instructions</h2>

    <div class="instruction-item">
      <div class="instruction-button">Focus on lesion</div>
      <p>Focus on the skin lesion – it should occupy most of the frame.</p>
    </div>

    <div class="instruction-item">
      <div class="instruction-button">Proper lighting</div>
      <p>Use natural or bright, even lighting.</p>
    </div>

    <div class="instruction-item">
      <div class="instruction-button">Steady hands</div>
      <p>Keep the camera steady to ensure a sharp image.</p>
    </div>

    <div class="instruction-item">
      <div class="instruction-button">Single lesion only</div>
      <p>The photo should show only one skin lesion.</p>
    </div>

    <div class="instruction-item">
      <div class="instruction-button">No filters</div>
      <p>Do not use filters or visual effects.</p>
    </div>

    <div class="instruction-item">
      <div class="instruction-button">Ensure clean skin</div>
      <p>Do not use makeup or creams that mask the skin lesion.</p>
    </div>

    <div class="instruction-item">
      <div class="instruction-button">Remove accessories</div>
      <p>Remove jewelry and accessories.</p>
    </div>
  </div>
  <div>
    <h2>Analysis Information</h2>

    <div class="instruction-item">
      <div class="instruction-button">Results in minutes</div>
      <p>You’ll receive a preliminary diagnosis within seconds.</p>
    </div>
  </div>
</div>
