<mat-card class="upload-card large">
  <div class="header" *ngIf="!imageSet">
    <span>Zdjęcie Twojej zmiany</span>
    <div class="button-control">
      <button
        *ngIf="imageSrc"
        mat-button
        class="accept-button"
        @fadeAnimation
        (click)="onAcceptClick()"
      >
        Akceptuj
      </button>
      <button mat-button class="upload-button" (click)="fileInput.click()">
        Prześlij
      </button>
    </div>
    <input
      #fileInput
      type="file"
      accept="image/*"
      hidden
      (change)="onFileSelected($event)"
    />
  </div>

  <div class="content" *ngIf="imageSrc; else noImage" @fadeAnimation>
    <img [src]="imageSrc" alt="Skin lesion photo" class="uploaded-image" />
  </div>

  <ng-template #noImage>
    <div class="instruction">
      <mat-icon>photo_camera</mat-icon>
      <button
        mat-button
        class="upload-button"
        (click)="onInstructionClick()"
        *ngIf="!instructionSignal()"
      >
      Kliknij tutaj, aby zobaczyć pełne instrukcje.
      </button>
      <button
        mat-button
        class="upload-button"
        (click)="fileInput.click()"
        *ngIf="instructionSignal()"
      >
      Kliknij tutaj, aby dodać zdjęcie.
      </button>
      <input
      #fileInput
      type="file"
      accept="image/*"
      hidden
      (change)="onFileSelected($event)"
    />
    </div>
  </ng-template>
</mat-card>
