
<mat-card class="upload-card large">
    <div class="header">
      <span>Photo of your skin lesion</span>
      <button mat-button class="upload-button">Upload</button>
    </div>
    <div class="instruction">
      <mat-icon>photo_camera</mat-icon>
      <button mat-button class="upload-button" (click)="onInstructionClick()">Click here to get the full instructions</button>
    </div>
  </mat-card>
  
  <!-- Wariant mniejszy 
  <mat-card class="upload-card small">
    <div class="header">
      <span>Photo of your skin lesion</span>
      <button mat-button class="upload-button">Upload</button>
    </div>
    <button mat-button class="instruction-button">
      Click here to get the full instructions
    </button>
  </mat-card>-->
  