@use '@angular/material' as mat;
@use './srcm3-theme.scss' as customTheme;

:root {
    @include mat.all-component-themes(customTheme.$light-theme);
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 30px;
    height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include mat.core();
@include mat.color-variants-backwards-compatibility(customTheme.$light-theme);


